<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>BigMall</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="yandex-verification" content="0bd9cf35619aeb10">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/vnd.microsoft.icon">

	<link href="/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/plugins/selectbox/select_option1.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/plugins/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/plugins/owl-carousel/owl.carousel.css" media="screen">

  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>

  <!-- CUSTOM CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/colors/default.css" id="option_color">

	<script src="/plugins/jquery/jquery-1.12.0.min.js" charset="utf-8"></script>
  <script src="/plugins/jquery-ui/jquery-ui.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/plugins/owl-carousel/owl.carousel.js"></script>
  <script src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
  <script src="/plugins/countdown/jquery.syotimer.js"></script>

	<!-- SELECT2 PLUGIN -->
	<script src="/plugins/select2/js/select2.full.min.js" charset="utf-8"></script>
	<link rel="stylesheet" href="/plugins/select2/css/select2.css">

	<!-- PIKADAY PLUGIN -->
	<script src="/plugins/pikaday/pikaday.js" charset="utf-8"></script>
	<link rel="stylesheet" href="/plugins/pikaday/pikaday.css">

</head>
